In [2]:
import numpy as np
import pandas as pd

In [31]:
data_kanban = pd.read_csv('kanban.csv')

In [32]:
a = data_kanban.describe().T
a.reset_index(inplace=True)

In [34]:
columns_dict = {"index": "Nombre_de_la_categoria", "count": "Cantidad_de_datos", "mean": "Promedio", "std": "Desviacion_estandar", "min": "Minimo_de_la_muestra", "25%":"Cuartil_inferior", "50%": "Valor_medio", "75%": "Cuartil_superior", "max": "Maximo_de_la_muestra"}

In [35]:
a.rename(columns = columns_dict)

,Nombre_de_la_categoria,Cantidad_de_datos,Promedio,Desviacion_estandar,Minimo_de_la_muestra,Cuartil_inferior,Valor_medio,Cuartil_superior,Maximo_de_la_muestra
0,pendientes_e_inactivas,98.0,23.653061,26.797485,4.000000,14.0000,18.000,25.0000,148.0
1,acostadas,24.0,0.250000,0.531610,0.000000,0.0000,0.000,0.0000,2.0
2,clase_4,98.0,0.132653,0.585702,0.000000,0.0000,0.000,0.0000,4.0
3,clase_3,98.0,1.857143,1.457296,0.000000,1.0000,2.000,3.0000,6.0
4,clase_2,98.0,6.704082,2.399352,1.000000,5.0000,7.000,8.0000,12.0
5,clase_1,98.0,4.448980,2.984919,0.000000,2.0000,4.000,6.0000,14.0
6,activo,98.0,13.142857,3.976736,6.000000,10.0000,12.000,16.0000,23.0
7,terminado,98.0,4.438776,3.534998,0.000000,2.0000,3.500,6.7500,17.0
8,bloqueado,98.0,2.806122,2.309363,0.000000,2.0000,2.000,4.0000,16.0
9,estrellas_por_activa,74.0,5.252068,2.633511,0.285714,3.2025,5.187,7.0375,11.6
10,estrellas_por_terminada,74.0,3.950039,3.377073,0.000000,1.5000,3.535,5.2250,14.0
11,resultados_reportados,34.0,1.029412,1.466501,0.000000,0.0000,0.500,1.0000,5.0
12,Integrantes,98.0,4.974490,0.553212,3.500000,5.0000,5.000,5.5000,6.5